{% extends "layout.html" %}

{% block content %}

<h2><pre>      </pre></h2>
<h3>{{ message }}</h3>

<address>
	Russia,<br/>
	St. Petersburg,<br/>
    St. Petersburg State University,<br />
    Faculty of Applied Mathematics and Control Processes<br />
    <br />
   <strong>Phone: </strong>+7(911)782-80-65<br />
   <strong>Vk: </strong> <a target="_blank"  href="https://vk.com/id26941320">vk.com/id26941320</a></address><br />

<address>
    <strong>Support:</strong>   <a href="mailto:nastenka28.10.96@gmail.com">nastenka28.10.96@gmail.com</a><br />
</address>

{% endblock %}
